# API keys for ByBit exchange
API_KEY=your_key
API_SECRET=your_secret
NOT_TESTNET=True
ACCOUNT_TYPE=UNIFIED

# TG Bot Token
TOKEN=your_token

# My ID TG
MYID=your_id

# DATABASE
POSTGRES_DB=database_name
POSTGRES_LOGIN=your_login
POSTGRES_PASSWORD=your_password
HOST=db


# TRADING
MIN_TURNOVER=4000000000
